/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { @apply h-full overflow-hidden; }

:root [data-theme='hamlindigo'] {
    --theme-font-family-heading: 'system-ui', sans-serif;
}
